*
{
    padding: 0;
    margin: 0;
}
body
{
    
    overflow-x: hidden;
}
/* Title Section */

.title-section
{
    background-image: url('assets/background.svg');
    background-repeat: no-repeat;    
}
.navbar
{
    padding: 0 4rem;
}
#navbar-co
{
    color: #A149FA;
}
.navbar-brand
{
    font-weight: 700;
    font-size: 30px;
}
.nav-item
{
    font-weight: 600;
}
.signup
{
    background-color: #A149FA;
    color: white;
    font-weight: 600;
    border-radius:5px;
}
.contact
{
    border:1px solid black;
}
h1
{
    font-size: 50px;
    font-weight: 700;
}
.banner p
{
    width: 45vw;
    margin: auto;
    padding: .5rem 0;
    padding-bottom: 1rem;
}
.banner
{
    padding: 3rem 0;
}

.banner-buttons
{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.banner-img
{
    width: 50%;
    padding: 1rem 0;
}

@media screen and (max-width:540px) {
    .banner p
    {
        width: 90%;
        padding: 1rem;
    }
    .banner h1
    {
        font-size: 35px;
        width: 95%;
        margin: auto;
    }
    .title-section
    {
        background-image: none;
    }
    .banner-img
    {
        width: 100%;
    }
}
/* Problem Section */
#problem-h1
{
    font-weight: 500;
    font-size: 45px;
}
#problem-p
{
    width: 35vw;
    margin: auto;
    padding: 10px;
}
#data
{
    width: 40%;
}

@media screen and (max-width:540px) {
    #problem-h1
    {
        font-size: 35px;
        font-weight: 700;
    }
    #data
    {
        width: 90%;
    }
}

/* Service Section */
.service-row
{
    padding: 2rem;
}
.card-body
{
    background-color: #A149FA;
    color: white;
    padding: 3rem 0;
    border-radius: 10px;
}
.card-text
{
    width: 60%;
    margin: auto;
    padding: 15px 0;
}
.card-title
{
    font-weight: 600;
}
.card-btn
{
    text-decoration: none;
    color: white;
}
.right-arrow
{
    width: 20px;
}


@media screen and (max-width:540px) {
    .service-row
    {
        gap: 2rem;
    }
    .service-row p
    {
        width: 90%;
    }
    #problem-p
    {
        width: 90%;
    }
    .service-section h1
    {
        font-size: 35px;
        width: 90%;
        margin: 1rem auto;
    }
}
/* Support Section */
.support-h1
{
    font-weight: 600;
    font-size: 40px;
    width: 70%;
}
.support-section
{
    width: 80vw;
    margin: auto;
}
.support-section p
{
    width: 70%;
}
@media screen and (max-width:540px) {
    .support-section
    {
        text-align: center;
    }
    .support-section p
    {
        width: 100%;
    }
}

/* Service Section */
.service-section-2
{
    width: 70%;
    padding-bottom: 2rem;
}
.service-section-2 p
{
    width: 80%;
    padding-bottom: 1rem;
}
.service-2-text
{
    padding-left: 2rem;
}

@media screen and (max-width:540px) {
    .service-section-2
    {
        text-align: center;
    }
    .service-2-img
    {
        width: 100%;
    }
    .service-section-2 p
    {
        width: 100%;
    }
    .support-h1
    {
        width: 100%;
        font-size: 7vw;
        font-weight: 700;
        padding: 1rem 0;
    }
    .signup-1
    {
        margin-bottom: 2rem;
    }
}

/* Pricing Section */
.pricing-flex
{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}
.price
{
    display: flex;
    justify-content: center;
    align-items: flex-end   ;
}
.price p
{
    width: auto;
}
h5
{
    text-align: center;
}
.card-text
{
    width: 90%;
    text-align: center;
}
.card-button
{
    margin: auto;
    text-align: center;
    background-color: #5d2bd1;
    color: white;
    font-weight: 600;
}
.card-button:hover
{
    background-color: #A149FA;
}
.card-text-body
{
    text-align: center;
}

@media screen and (max-width:540px) {
    .pricing-flex
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card
    {
        width: 12rem;
    }
}


/* Footer Section */
footer a,li
{
    text-decoration: none;
    list-style: none;
}
